
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Variables */
@import '_variables.scss';

html, body {
  width: 100%;
  background-color: $body-bg;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Ideation {
  color: $ideation;
};
.Planning {
  color: $planning;
};
.Creating {
  color: $creating;
};
.Evaluating {
  color: $evaluating;
};
.Refining {
  color: $refining;
};
.Completed {
  color: $completed;
};
.On-hold {
  color: $on-hold;
};
.Abandoned {
  color: $abandoned;
};
