
/* Fonts */

/* Variables */
@import '_mixins.scss';
@import '_variables.scss';

html, body {
  width: 100%;
  background-color: $pure;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin category($color) {
  color: $color;
  * {
    fill: $color;
    stroke: $color;
  }
}

@mixin bg_category($color) {
  background-color: $color;
}

// global classes
.fixed_width {
  width: 1080px;
  margin: 0 auto;
}
// to be placed on the element directly above the IdeaCard component (usually in a loop)
.idea_wrapper_width {
  width: 750px;
  margin: 0 auto;
}

.Ideation, .ideation {
  @include category($ideation)
};
.Planning, .planning {
  @include category($planning)
};
.Creating, .creating {
    @include category($creating)
};
.Evaluating, .evaluating {
  @include category($evaluating)
};
.Refining, .refining {
  @include category($refining)
};
.Completed, .completed {
  @include category($completed)
};
.On-hold, .on-hold {
  @include category($on-hold)
};
.Abandoned, .abandoned {
  @include category($abandoned)
};

.bg_Ideation {
  @include bg_category($ideation)
};
.bg_Planning {
  @include bg_category($planning)
};
.bg_Creating {
    @include bg_category($creating)
};
.bg_Evaluating {
  @include bg_category($evaluating)
};
.bg_Refining {
  @include bg_category($refining)
};
.bg_Completed {
  @include bg_category($completed)
};
.bg_On-hold {
  @include bg_category($on-hold)
};
.bg_Abandoned {
  @include bg_category($abandoned)
};